@import url(./global/global.css);
.fa-bars{
    color: black;
}
.hero header {
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.hero header .container-fluid {
    display: flex;
    padding: 0 5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px) {
   .hero  header .container-fluid {
        padding: 0 5%;
    }
}

.hero header .navb-logo img {
    height: 10vh;
    width: auto;
}

.hero header .navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero header .item {
    text-align: center;
    margin-inline: 5%;
    font-size: 17px;
    transition: all .1s ease;
    cursor: pointer;
}
.hero header .item a{
    color: #191919;
    font-size: 1.5vw;
    text-decoration: none;
}
.hero header .item a:hover {
    color: #6C63FF;
}

.hero header .mobile-toggler {

    font-size: 30px;
}
/* modal */

.modal-dialog {
    margin: 0;
    width: 430vw;

}

/*Division*/
#texto_fecha {
    font-weight: bold;
}

.btn {
    margin: 20px;
    width: 12vw;
}

.btn-success {
    background-color: #6C63FF;
    color: #ffffff;
}

.btn-danger {
    background-color: #d33;
    color: #ffffff;
}
/*Sección principal*/
.hero .contenedor .pagina-principal {
    padding: 1vw 0 0 0;
    display: grid;
    grid-template-areas:
        "textos imagen"
        "ola ola";
    column-gap: 2vh;
    justify-content: center;
    align-content: center;
}

.pagina-principal .ola {
    grid-area: ola;
    height: 40vh;
    overflow: hidden;
}


.pagina-principal img {
    height: 20vh;
}

.pagina-principal .lado-izq {
    grid-area: textos;
    padding: 0vw 5vw;
    /* margin-top: 10vh; */
}

.pagina-principal .lado-der {
    grid-area: imagen;
    display: grid;
    align-items: center;
    padding: 0vw 5vw;
    /* margin-top: 10vh; */
}

.pagina-principal .lado-izq .cap {
    display: grid;
}

.pagina-principal .lado-izq .cap img {
    height: 10vh;
    width: auto;
}

.pagina-principal .lado-izq .texto {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.pagina-principal .lado-izq .texto .titulo p {
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: bold;
}

.color-morado {
    color: #6C63FF;
}

.mayuscula {
    font-size: 10vh;
}

.pagina-principal .lado-izq .texto .subtitulo p {
    font-size: 3vh;
}

.pagina-principal .lado-izq .texto .boton button {
    background-color: #6C63FF;
    color: #ffffff;
    font-size: 2.5vh;
}

.pagina-principal .lado-izq .texto .boton button:hover {
    background-color: #8781fc;
}

.pagina-principal .lado-der .img-central {
    display: grid;
    place-items: center;
    align-items: center;
}

.pagina-principal .lado-der .img-central img {
    height: 20vh;
    width: auto;
}

/*Sección programas*/
.hero .contenedor .programas {
    display: flex;
    flex-direction: column;
}

.hero .contenedor .programas .titulo { 
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.hero .contenedor .programas .titulo h2{
    font-size: 3vw;
    text-align: center;
}

.hero .contenedor .programas .contenido-programas {
    display: flex;
    padding: 2vw 5vw;
    column-gap: 2vw;
}

.hero .contenedor .programas .contenido-programas .programa {
    display: grid;
    grid-template-areas:
        "imagen"
        "contenido"
        "link";
    padding: 2vw 0;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;

}

.hero .contenedor .programas .contenido-programas .programa .imagen {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .contenedor .programas .contenido-programas .programa .imagen img {
    height: 22vh;
}

.hero .contenedor .programas .contenido-programas .programa .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-areas:
        "titulo"
        "descripcion";
    padding: 0 2vw;

}

.hero .contenedor .programas .contenido-programas .programa .contenido .titulo-programa {
    grid-area: titulo;
    padding: 2vw 0;
    text-align: center;

}

.hero .contenedor .programas .contenido-programas .programa .contenido .titulo-program h2 {
    text-align: center;
}

.hero .contenedor .programas .contenido-programas .programa .contenido .descripcion {
    grid-area: descripcion;

}

.hero .contenedor .programas .contenido-programas .programa .contenido .descripcion p {
    line-height: 2em;
}

.hero .contenedor .programas .contenido-programas .programa .formulario {
    grid-area: link;
    display: flex;
    padding: 2vw 0;
}

.hero .contenedor .programas .contenido-programas .programa .formulario a {
    text-align: left;
    letter-spacing: 0.15em;
    font-size: 3vh;
}

/*Seccion Tutorial*/

.hero .contenedor .tutorial {
    display: grid;
    grid-template-areas:
        "contenido"
        "ola";
}

.hero .contenedor .tutorial .contenido {
    display: grid;
    grid-template-areas:
        "titulo"
        "tutorial";
    padding: 5vw;
    align-items: center;
    height: 50vh;
    justify-content: center;
    justify-items: center;
    row-gap: 5vh;
}

.hero .contenedor .tutorial .contenido .titulo {
    font-size: 4vh;
}

.hero .contenedor .ola2 {
    grid-area: ola;
}


.hero .contenedor .tutorial .cuadros {
    grid-area: tutorial;
    display: flex;
    column-gap: 2vw;
}

.hero .contenedor .tutorial .cuadros .cuadro {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 25vw;
    height: 35vh;
    background-color: #f2f2f2;
    border-radius: 0.5vw;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hero .contenedor .tutorial .cuadros .cuadro .cabecera {
    font-size: 1.5vw;
}

.hero .contenedor .tutorial .cuadros .cuadro .cabecera .icono {
    font-size: 6vh;
}

.hero .contenedor .tutorial .cuadros .cuadro .footer a {
    background-color: #6C63FF;
    padding: 1.5vh 2vw;
    font-size: 2.3vh;
    color: #ffffff;
    border-radius: 0.5vw;
}

/*Seccion información*/

.hero .contenedor .informacion{
    padding: 5vw;
}

.hero .contenedor .informacion .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw 5vw;
    row-gap: 5vh;
}

.hero .contenedor .informacion .contenido .titulo {
    text-align: center;
}

.hero .contenedor .informacion .contenido .titulo h2 {
    font-size: 6vh;
}

.hero .contenedor .informacion .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15vh;
}

.hero .contenedor .informacion .contenido .contenedor .concepto {
    display: grid;
    width: 85vw;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.hero .contenedor .informacion .contenido .contenedor .concepto .imagen {
    display: flex;
    justify-content: center;
}

.hero .contenedor .informacion .contenido .contenedor .concepto .texto {
    font-size: 1.5vw;
}

.hero .contenedor .informacion .contenido .contenedor .concepto .imagen img {
    height: 30vh;
}



/*Seccion Aliados*/

.hero .contenedor .aliados {
    padding: 5vw;
}

.hero .contenedor .aliados .contenido {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.hero .contenedor .aliados .contenido .titulo h1 {
    color: black;
    font-weight: bold;
}

.hero .contenedor .aliados .contenido .titulo .principal h1 {
    font-size: 6vh;
}

.hero .contenedor .aliados .contenido .titulo .secundario {
    width: 90vw;
    display: flex;
    justify-content: center;
}

.hero .contenedor .aliados .contenido .titulo .secundario {
    width: 70vw;
}

.hero .contenedor .aliados .contenido .titulo .secundario p {
    font-size: 3vh;
}

.aliados .contenido .universidades {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.aliados .contenido .universidades .universidad {
    display: flex;
    column-gap: 5vw;
}

.aliados .contenido .universidades .universidad .texto p {
    font-size: 2.2vw;
    font-weight: bold;
}

.aliados .contenido .universidades .contenedor-universidades {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    row-gap: 2vw;
    column-gap: 2vw;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
}

.aliados .contenido .universidades .contenedor-universidades .caja {
    border-radius: 1vw;
    width: 40vw;
    display: grid;
    grid-template-areas:
        "imagen descuento"
        "imagen boton";
    height: 40vh;
    color: #ffffff;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.aliados .contenido .universidades .contenedor-universidades .caja .imagen {
    grid-area: imagen;
}

.aliados .contenido .universidades .contenedor-universidades .caja .boton {
    grid-area: boton;
}

.aliados .contenido .universidades .contenedor-universidades .caja .titulo {
    color: black;
    grid-area: descuento;
    font-size: 5vw;
    border-radius: 50%;
    padding: 1vw;
    font-weight: bold;
}

.aliados .contenido .universidades .contenedor-universidades .caja .boton button {
    background-color: #6C63FF;
    color: #ffffff;
    width: 10vw;
}

.aliados .contenido .universidades .contenedor-universidades .caja .imagen img {
    height: 30vh;
    width: 15vw;
}

.contenido-derecha-texto p {
    text-align: center;
}

/* FORMULARIO */

.formulario {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container-formulario {
    grid-area: formulario;
}

.hero .contenedor .formulario .container-formulario {
    display: grid;
    grid-template-areas:
        "titulo"
        "contenido";
    grid-template-columns: 1fr;
    column-gap: 2vw;
    background-color: rgb(255, 255, 255);
    padding: 5vw 0;
}

.titulo-formulario {
    grid-area: titulo;
    text-align: center;
}

.contenido-formulario {
    grid-area: contenido;
    display: grid;
    grid-template-areas:
        "formulario"
        "botones";
    justify-content: center;
    align-items: center;
    height: 83vh;

}

.formulario-contenido {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
}

.botones-formulario {
    grid-area: botones;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.titulo__formulario {
    font-size: 2.2vw;
    text-align: center;
}

.contenido-formulario label {
    padding-left: 15px;
}

.contenido-formulario input {
    margin: 10px;
    width: auto;
    height: 5vh;
    width: 35vw;
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px solid #191919;
    font-size: 1.2vw;
}

.contenido-formulario input:focus {
    outline: none;
}

.contenido-formulario select {
    margin: 15px;
    width: auto;
    height: 5vh;
    width: 36vw;
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px solid #191919;
    font-size: 1.2vw;
}

.contenido-formulario select:focus {
    outline: none;
}

.botones-formulario button {
    background-color: #6C63FF;
    color: white;
    width: 15vw;
}

.botones-formulario button:hover {
    background-color: #8781fc;
}

/*FOOTER*/

footer .contenedor {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background-color: #f8f5f5;
    align-items: center;
    row-gap: 2vh;
    justify-content: center;
}

footer .contenedor .redes {
    display: grid;
    grid-template-areas:
        "titulo"
        "redes";

}

footer .contenedor .redes .titulo-redes {
    grid-area: titulo;
}

footer .contenedor .redes .titulo-redes p {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: 2vw 0;
}

footer .contenedor .redes-sociales {
    grid-area: redes;
    display: flex;
    justify-content: space-between;

}

footer .contenedor .redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
}

footer .contenedor .redes-sociales .fa-instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

footer .contenedor .redes-sociales .fa-facebook {
    background: #3b5998;
}

footer .contenedor .redes-sociales .fa-twitter {
    background: #1DA1F2;
}

footer .contenedor .redes-sociales .fa-tiktok {
    background: #69C9D0;
}

footer .contenedor .redes-sociales i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2vw;
    border-radius: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

footer .contenedor .logo .imagen {
    display: flex;
}

footer .contenedor .logo .imagen img {
    height: 10vh;
}

.hero .contenedor .programas-responsive {
    display: none;
}

@media only screen and (max-width: 600px) {

    .pagina-principal .lado-izq .texto {
        row-gap: 6vw;
    }

    .hero .contenedor .programas {
        display: none;
    }

    .hero .contenedor .programas-responsive {
        display: block;
    }

    .hero .contenedor .programas-responsive .contenido-programas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 5vh;
        padding: 5vw;
    }

    .hero .contenedor .programas-responsive .titulo{
        padding: 5vw;
    }

    .hero .contenedor .programas-responsive .titulo h2{ 
        font-size: 6vh;
        text-align: center;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 3vh;
        padding: 5vw 0;
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .imagen img {
        height: 25vh;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .contenido .titulo-programa {
        display: flex;
        justify-content: center;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .contenido .titulo-programa h2 {
        font-size: 4vh;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .contenido .descripcion {
        text-align: center;
        padding: 0 5vw;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .contenido .descripcion p {
        font-size: 2.2vh;
    }

    .hero .contenedor .programas-responsive .contenido-programas .programa .formulario a {
        padding: 2vw 5vw;
        background-color: #6C63FF;
        color: #ffffff;
        font-size: 2.5vh;
     }


    

    .hero .menu-principal {
        height: 10vh;
    }

    .hero .menu-principal .logo-equiti img {
        height: 8vh;
    }

    .hero .menu-principal .enlaces a {
        font-size: 2vh;
    }

    .hero .contenedor .pagina-principal {
        grid-template-areas:
            "textos"
            "imagen"
            "ola";
    }


    .pagina-principal .lado-der .img-central img {
        height: 10vh;
    }

    .pagina-principal .lado-izq .texto .boton button {
        padding: 2vh 8vw;
        font-size: 2.4vh;
    }

    .pagina-principal .ola {
        display: grid;
        height: 10vh;
    }

    .hero .contenedor .tutorial .contenido {
        grid-template-areas:
            "titulo"
            "tutorial";
        justify-items: center;
        height: auto;
        padding: 5vh 0;
    }

    .hero .contenedor .programas .contenido-programas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 5vh;
    }

    .hero .contenedor .programas .contenido-programas .programa {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .contenedor .programas .contenido-programas .programa .imagen img {
        height: 10vh;
    }

    .hero .contenedor .programas .contenido-programas .programa .contenido .titulo-programa {
        display: flex;
        justify-content: center;
    }

    .hero .contenedor .programas .contenido-programas .programa .contenido .titulo-programa h2 {
        font-size: 5vh;
    }

    .hero .contenedor .programas .contenido-programas .programa .contenido .descripcion {
        text-align: center;
    }

    .hero .contenedor .programas .contenido-programas .programa .contenido .descripcion p {
        font-size: 2.2vh;
    }

    /* PROGRAMA RESPONSIVE */


    .tutorial .contenido .titulo {
        text-align: center;
    }

    .tutorial .contenido .titulo h2 {
        font-size: 5vh;
    }

    .hero .contenedor .tutorial .cuadros {
        flex-direction: column;
        row-gap: 5vw;
    }

    .hero .contenedor .tutorial .cuadros .cuadro {
        height: auto;
        border-radius: 2.5vw;
        padding: 5vw;
        width: 75vw;
        min-height: 45vh;
    }

    .hero .contenedor .tutorial .cuadros .cuadro .cabecera h3 {
        font-size: 8vw;
    }

    .hero .contenedor .tutorial .cuadros .cuadro .cuerpo p {
        font-size: 2.5vh;
    }

    .hero .contenedor .tutorial .cuadros .cuadro .footer a {
        background-color: #6C63FF;
        padding: 2vh 8vw;
        font-size: 2.3vh;
        color: #ffffff;
    }

    /*Seccion información*/
    .hero .contenedor .informacion .contenido .contenedor .concepto {
        display: grid;
        grid-template-areas:
            "imagen"
            "texto";
        grid-template-columns: 1fr;
        row-gap: 2vh;
    }

    .hero .contenedor .informacion .contenido .contenedor .concepto .imagen {
        grid-area: imagen;
    }

    .hero .contenedor .informacion .contenido .contenedor .concepto .imagen img {
        height: 20vh;
    }

    .hero .contenedor .informacion .contenido .contenedor .concepto .texto {
        grid-area: texto;
    }

    .hero .contenedor .informacion .contenido .contenedor .concepto .texto p {
        font-size: 2.5vh;
    }

    .hero .contenedor .aliados .contenido .titulo .secundario p {
        font-size: 2.5vh;
    }

    /*Seccion Aliados*/
    .hero .contenedor .aliados .contenido .titulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .contenedor .aliados .contenido .titulo h1 {
        font-size: 3vh;
    }

    .aliados .contenido .universidades .contenedor-universidades {
        flex-direction: column;
    }

    .aliados .contenido .universidades .contenedor-universidades .caja {
        width: 70vw;
        height: 60vh;
        grid-template-areas:
            "descuento"
            "imagen"
            "boton";
        padding: 5vw;
    }

    .aliados .contenido .universidades .contenedor-universidades .caja .titulo p {
        font-size: 5vh;
    }

    .aliados .contenido .universidades .contenedor-universidades .caja .imagen img {
        width: 55vw;
    }

    .aliados .contenido .universidades .contenedor-universidades .caja .boton button {
        width: 40vw;
        height: 5vh;
        font-size: 2.2vh;
    }

    .hero .contenedor .aliados .contenido .titulo .secundario {
        width: 85vw;
        text-align: left;
    }

    .contenido-formulario {
        justify-content: center;
        height: auto;
        padding: 5vw 0;
    }

    .titulo-formulario h2 {
        font-size: 7vw;
        text-align: center;
    }

    .titulo-formulario p {
        font-size: 5vw;
        text-align: center;
    }

    .contenido-formulario label {
        text-align: left;
        font-size: 5vw;
    }

    .contenido-formulario input {
        width: 80vw;
        font-size: 5vw;
    }

    .contenido-formulario input:focus {
        outline: none;
    }

    .contenido-formulario select {
        width: 90vw;
        font-size: 5vw;
    }

    .botones-formulario button {
        width: 55vw;
        height: 5vh;
        font-size: 2.2vh;
    }

    footer .contenedor .redes-sociales {
        display: flex;
        justify-content: space-evenly;
    }

    footer .contenedor .redes .titulo-redes p {
        font-size: 6vw;
        padding: 5vw 0;
    }

    footer .contenedor .redes i {
        padding: 1vw;
        font-size: 7vw;
    }

    #texto_fecha {
        font-size: 5vw;
    }

    .btn {

        width: 30vw;
    }
    /*Modal*/
    /*Modal*/
    .modal-dialog {
        width: 82%;
    }
    /*Lenguajes*/
.titulo-habilidades h4{
    font-size: 4.5vw;
}
.tarjeta-lenguajes{
    height: 20vh;
}
.imagenes-tarjeta img{
    height: 12vh;
}
.icono__titulo{
    font-size: 3.5vw;
}
/*modal*/
.modal-dialog {
    width: 82%;
}
.modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #ffffff;
}
.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header img {
    height: 10vh;
    margin-top: 17.5px;
}

.modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

.modal-header i {
    color: #000000;
    font-size: 30px;
}
.modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}
.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.modal-body .modal-line:hover {

    color: #999999;
    border-bottom: 1px solid #999999;
}

.modal-line a {

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #000000;
}

.modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}
.mobile-modal-footer {

    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #000000;
}
.mobile-modal-footer i{
    color: black;
}

}
